<div class="about">
  <mat-card class="about-card">
    <mat-card-title>Sobre o Escritório</mat-card-title>
    <mat-card-content>
      <p>
        A <strong>Advocacia e Consultoria Jurídica Sales & Pádua</strong> é
        composta pelas advogadas <strong>Amanda Sales e Thainá Pádua</strong>,
        profissionais com sólida formação acadêmica, ampla experiência prática e
        atuação reconhecida em diferentes áreas do Direito.
      </p>
      <p>
        <strong>Amanda Sales</strong> é graduada em Direito pela Universidade
        Federal de Lavras (UFLA), mestre em Tecnologias e Inovações Ambientais,
        pós-graduada em Direito Minerário e Doutoranda em Engenharia Florestal.
        Possui experiência como Procuradora Jurídica do Município de Mariana/MG
        e atua há mais de sete anos nas áreas de Direito Ambiental, Minerário e
        Imobiliário.
      </p>
      <p>
        <strong>Thainá Pádua</strong> é graduada em Direito pelo Centro
        Universitário de Lavras (UNILAVRAS), mestre em Direito pela Universidade
        de Itaúna e pós-graduada em Direito Processual e Tributário. Professora
        no curso de Direito do UNILAVRAS e pesquisadora na área jurídica, também
        atuou na Controladoria Geral do município de Oliveira/MG. Possui mais de
        nove anos de experiência e é responsável pelas áreas de Direito Civil e
        Tributário.
      </p>
      <p>
        Nosso escritório se destaca pelo
        <strong>atendimento ético, estratégico e humanizado</strong>, oferecendo
        soluções jurídicas personalizadas e eficazes, sempre com foco nas
        necessidades específicas de cada cliente.
      </p>
    </mat-card-content>
  </mat-card>
</div>
