:host {
  display: block;
  width: 100%;
  background-color: #0b0b2c;
}

.hero-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  width: 320px;
  max-width: 90%;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-gold);
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #dcdcdc;
}

.btn-color {
  color: black;
  background-color: #d1b36d;
}
