<div class="hero-container">
  <img src="assets/marca.jpeg" alt="Logo do Escritório" class="logo" />
  <!-- <img src="assets/logoprincipal.png" alt="Logo do Escritório" class="logo" /> -->
  <h1>Advocacia Sales & Pádua</h1>
  <h2>Advocacia e Consultoria Jurídica ética e estratégica!</h2>
  <p style="font-size: 14px">
    Escritório fundado pelas advogadas Amanda de Sales Pereira e Thainá P. Pádua
  </p>
  <button mat-raised-button class="btn-color" (click)="scrollToContact()">
    Fale conosco
  </button>
</div>
