<div class="hero-container">
  <img
    src="../../../assets/logoprincipal.png"
    alt="Logo do Escritório"
    class="logo"
  />
  <!-- <h1>Advocacia Sales & Pádua</h1> -->
  <h2>Compromisso com a Justiça, Cuidado com o Seu Caso</h2>
  <p style="font-size: 14px">
    Escritório fundado por Amanda Sales (Doutora em Direito Ambiental) e Thainá
    Pádua (Professora e advogada atuante).
  </p>
  <button mat-raised-button class="btn-color" (click)="scrollToContact()">
    Fale conosco
  </button>
</div>
